In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [23]:
# This is the first dataset for HR Employee to be preprocessing
data=pd.read_csv(r"C:\Users\User\Downloads\archive (6)\HR-Employee-Attrition.csv")
print(data.head())

   Age Attrition     BusinessTravel  DailyRate              Department  \
0   41       Yes      Travel_Rarely       1102                   Sales
1   49        No  Travel_Frequently        279  Research & Development
2   37       Yes      Travel_Rarely       1373  Research & Development
3   33        No  Travel_Frequently       1392  Research & Development
4   27        No      Travel_Rarely        591  Research & Development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                 1          2  Life Sciences              1               1
1                 8          1  Life Sciences              1               2
2                 2          2          Other              1               4
3                 3          4  Life Sciences              1               5
4                 2          1        Medical              1               7

   ...  RelationshipSatisfaction StandardHours  StockOptionLevel  \
0  ...                         1            80                 0
1  ...                         4            80                 1
2  ...                         2            80                 0
3  ...                         3            80                 0
4  ...                         4            80                 1

   TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
0                  8                      0               1               6
1                 10                      3               3              10
2                  7                      3               3               0
3                  8                      3               3               8
4                  6                      3               3               2

  YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0                  4                        0                     5
1                  7                        1                     7
2                  0                        0                     0
3                  7                        3                     0
4                  2                        2                     2

[5 rows x 35 columns]

In [24]:
# Step 1: Check for missing values
print("Missing values before cleaning:")
print(data.isnull().sum())

Missing values before cleaning:
Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [25]:
print(data.columns.tolist())

['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department', 'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount', 'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion', 'YearsWithCurrManager']

In [8]:
#Size of data

print(f"Dataset contains {data.shape[0]} rows and {data.shape[1]} columns.")

Dataset contains 1470 rows and 35 columns.

In [9]:
#Data type

print(data.dtypes)

Age                          int64
Attrition                   object
BusinessTravel              object
DailyRate                    int64
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                      object
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
Over18                      object
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [10]:
#Display summary statistics

print(data.describe())

               Age    DailyRate  DistanceFromHome    Education  EmployeeCount  \
count  1470.000000  1470.000000       1470.000000  1470.000000         1470.0
mean     36.923810   802.485714          9.192517     2.912925            1.0
std       9.135373   403.509100          8.106864     1.024165            0.0
min      18.000000   102.000000          1.000000     1.000000            1.0
25%      30.000000   465.000000          2.000000     2.000000            1.0
50%      36.000000   802.000000          7.000000     3.000000            1.0
75%      43.000000  1157.000000         14.000000     4.000000            1.0
max      60.000000  1499.000000         29.000000     5.000000            1.0

       EmployeeNumber  EnvironmentSatisfaction   HourlyRate  JobInvolvement  \
count     1470.000000              1470.000000  1470.000000     1470.000000
mean      1024.865306                 2.721769    65.891156        2.729932
std        602.024335                 1.093082    20.329428        0.711561
min          1.000000                 1.000000    30.000000        1.000000
25%        491.250000                 2.000000    48.000000        2.000000
50%       1020.500000                 3.000000    66.000000        3.000000
75%       1555.750000                 4.000000    83.750000        3.000000
max       2068.000000                 4.000000   100.000000        4.000000

          JobLevel  ...  RelationshipSatisfaction  StandardHours  \
count  1470.000000  ...               1470.000000         1470.0
mean      2.063946  ...                  2.712245           80.0
std       1.106940  ...                  1.081209            0.0
min       1.000000  ...                  1.000000           80.0
25%       1.000000  ...                  2.000000           80.0
50%       2.000000  ...                  3.000000           80.0
75%       3.000000  ...                  4.000000           80.0
max       5.000000  ...                  4.000000           80.0

       StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
count       1470.000000        1470.000000            1470.000000
mean           0.793878          11.279592               2.799320
std            0.852077           7.780782               1.289271
min            0.000000           0.000000               0.000000
25%            0.000000           6.000000               2.000000
50%            1.000000          10.000000               3.000000
75%            1.000000          15.000000               3.000000
max            3.000000          40.000000               6.000000

       WorkLifeBalance  YearsAtCompany  YearsInCurrentRole  \
count      1470.000000     1470.000000         1470.000000
mean          2.761224        7.008163            4.229252
std           0.706476        6.126525            3.623137
min           1.000000        0.000000            0.000000
25%           2.000000        3.000000            2.000000
50%           3.000000        5.000000            3.000000
75%           3.000000        9.000000            7.000000
max           4.000000       40.000000           18.000000

       YearsSinceLastPromotion  YearsWithCurrManager
count              1470.000000           1470.000000
mean                  2.187755              4.123129
std                   3.222430              3.568136
min                   0.000000              0.000000
25%                   0.000000              2.000000
50%                   1.000000              3.000000
75%                   3.000000              7.000000
max                  15.000000             17.000000

[8 rows x 26 columns]

In [12]:
from sklearn.preprocessing import MinMaxScaler

# Select numeric columns only for normalization
numeric_columns = data.select_dtypes(include=['float64', 'int64']).columns

# Initialize the MinMaxScaler
scaler = MinMaxScaler()

# Normalize the numeric columns
data[numeric_columns] = scaler.fit_transform(data[numeric_columns])

# Preview the normalized data
print(data.head())

        Age Attrition     BusinessTravel  DailyRate              Department  \
0  0.547619       Yes      Travel_Rarely   0.715820                   Sales
1  0.738095        No  Travel_Frequently   0.126700  Research & Development
2  0.452381       Yes      Travel_Rarely   0.909807  Research & Development
3  0.357143        No  Travel_Frequently   0.923407  Research & Development
4  0.214286        No      Travel_Rarely   0.350036  Research & Development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0          0.000000       0.25  Life Sciences            0.0        0.000000
1          0.250000       0.00  Life Sciences            0.0        0.000484
2          0.035714       0.25          Other            0.0        0.001451
3          0.071429       0.75  Life Sciences            0.0        0.001935
4          0.035714       0.00        Medical            0.0        0.002903

   ...  RelationshipSatisfaction StandardHours  StockOptionLevel  \
0  ...                  0.000000           0.0          0.000000
1  ...                  1.000000           0.0          0.333333
2  ...                  0.333333           0.0          0.000000
3  ...                  0.666667           0.0          0.000000
4  ...                  1.000000           0.0          0.333333

   TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
0              0.200                    0.0        0.000000            0.15
1              0.250                    0.5        0.666667            0.25
2              0.175                    0.5        0.666667            0.00
3              0.200                    0.5        0.666667            0.20
4              0.150                    0.5        0.666667            0.05

  YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0           0.222222                 0.000000              0.294118
1           0.388889                 0.066667              0.411765
2           0.000000                 0.000000              0.000000
3           0.388889                 0.200000              0.000000
4           0.111111                 0.133333              0.117647

[5 rows x 35 columns]

In [14]:
# This is the second dataset to be preprocessing for Financial Risk Analysis
data2=pd.read_csv(r"C:\Users\User\Downloads\archive (8)\financial_risk_analysis_large.csv")
print(data2.head())

   CreditScore  AnnualIncome  LoanAmount  LoanDuration  Age EmploymentStatus  \
0          402         63295       18830            13   29    Self-Employed
1          735         55936       23729             1   42    Self-Employed
2          570         62547       19660             7   54    Self-Employed
3          406         46129       21674            23   25    Self-Employed
4          371         57725       12189            26   42         Employed

  MaritalStatus  NumberOfDependents EducationLevel HomeOwnershipStatus  ...  \
0       Widowed                   2      Doctorate               Other  ...
1      Divorced                   3         Master                 Own  ...
2        Single                   3      Doctorate            Mortgage  ...
3      Divorced                   3    High School               Other  ...
4       Widowed                   4         Master                 Own  ...

   JobTenure  MonthlySavings  AnnualBonuses  AnnualExpenses  \
0         24             378           3741           40058
1         10             575           4115           16745
2         16             691           4105           23273
3          6             452           4559           42163
4          2             690           7856           30087

   MonthlyHousingCosts  MonthlyTransportationCosts MonthlyFoodCosts  \
0                  977                         412              399
1                  695                         206              898
2                  627                         266              392
3                  397                         307              250
4                  723                         315              114

   MonthlyHealthcareCosts  MonthlyEntertainmentCosts  LoanApproved
0                     136                        124             0
1                     252                        131             0
2                      73                         36             0
3                     378                        -32             0
4                      88                         68             0

[5 rows x 51 columns]

In [15]:
# Step 1: Check for missing values
print("Missing values before cleaning:")
print(data.isnull().sum())

Missing values before cleaning:
Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [16]:
#Size of data

print(f"Dataset contains {data.shape[0]} rows and {data.shape[1]} columns.")

Dataset contains 1470 rows and 35 columns.

In [17]:
#Data type

print(data.dtypes)

Age                         float64
Attrition                    object
BusinessTravel               object
DailyRate                   float64
Department                   object
DistanceFromHome            float64
Education                   float64
EducationField               object
EmployeeCount               float64
EmployeeNumber              float64
EnvironmentSatisfaction     float64
Gender                       object
HourlyRate                  float64
JobInvolvement              float64
JobLevel                    float64
JobRole                      object
JobSatisfaction             float64
MaritalStatus                object
MonthlyIncome               float64
MonthlyRate                 float64
NumCompaniesWorked          float64
Over18                       object
OverTime                     object
PercentSalaryHike           float64
PerformanceRating           float64
RelationshipSatisfaction    float64
StandardHours               float64
StockOptionLevel            float64
TotalWorkingYears           float64
TrainingTimesLastYear       float64
WorkLifeBalance             float64
YearsAtCompany              float64
YearsInCurrentRole          float64
YearsSinceLastPromotion     float64
YearsWithCurrManager        float64
dtype: object

In [18]:
#Data type

print(data.dtypes)

Age                         float64
Attrition                    object
BusinessTravel               object
DailyRate                   float64
Department                   object
DistanceFromHome            float64
Education                   float64
EducationField               object
EmployeeCount               float64
EmployeeNumber              float64
EnvironmentSatisfaction     float64
Gender                       object
HourlyRate                  float64
JobInvolvement              float64
JobLevel                    float64
JobRole                      object
JobSatisfaction             float64
MaritalStatus                object
MonthlyIncome               float64
MonthlyRate                 float64
NumCompaniesWorked          float64
Over18                       object
OverTime                     object
PercentSalaryHike           float64
PerformanceRating           float64
RelationshipSatisfaction    float64
StandardHours               float64
StockOptionLevel            float64
TotalWorkingYears           float64
TrainingTimesLastYear       float64
WorkLifeBalance             float64
YearsAtCompany              float64
YearsInCurrentRole          float64
YearsSinceLastPromotion     float64
YearsWithCurrManager        float64
dtype: object

In [22]:
from sklearn.preprocessing import MinMaxScaler

# Select numeric columns only for normalization
numeric_columns = data2.select_dtypes(include=['float64', 'int64']).columns

# Initialize the MinMaxScaler
scaler = MinMaxScaler()

# Normalize the numeric columns
data2[numeric_columns] = scaler.fit_transform(data2[numeric_columns])

# Preview the normalized data
print(data2.head())

   CreditScore  AnnualIncome  LoanAmount  LoanDuration       Age  \
0     0.185792      0.513521    0.476305      0.428571  0.215686
1     0.792350      0.461726    0.574637      0.000000  0.470588
2     0.491803      0.508256    0.492965      0.214286  0.705882
3     0.193078      0.392701    0.533390      0.785714  0.137255
4     0.129326      0.474317    0.343008      0.892857  0.470588

  EmploymentStatus MaritalStatus  NumberOfDependents EducationLevel  \
0    Self-Employed       Widowed                0.50      Doctorate
1    Self-Employed      Divorced                0.75         Master
2    Self-Employed        Single                0.75      Doctorate
3    Self-Employed      Divorced                0.75    High School
4         Employed       Widowed                1.00         Master

  HomeOwnershipStatus  ...  JobTenure  MonthlySavings  AnnualBonuses  \
0               Other  ...   0.615385        0.440536       0.420640
1                 Own  ...   0.256410        0.506533       0.441138
2            Mortgage  ...   0.410256        0.545394       0.440590
3               Other  ...   0.153846        0.465327       0.465472
4                 Own  ...   0.051282        0.545059       0.646169

   AnnualExpenses  MonthlyHousingCosts  MonthlyTransportationCosts  \
0        0.597329             0.525514                    0.569923
1        0.359098             0.453922                    0.425158
2        0.425807             0.436659                    0.467323
3        0.618839             0.378269                    0.496135
4        0.495437             0.461031                    0.501757

  MonthlyFoodCosts  MonthlyHealthcareCosts  MonthlyEntertainmentCosts  \
0         0.494229                0.478006                   0.550111
1         0.756034                0.591398                   0.565702
2         0.490556                0.416422                   0.354120
3         0.416055                0.714565                   0.202673
4         0.344701                0.431085                   0.425390

   LoanApproved
0           0.0
1           0.0
2           0.0
3           0.0
4           0.0

[5 rows x 51 columns]